<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="foundation.css">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <div id="header">
      <h1><%= date %></h1>
    </div>

    <h3 id="d_list">Tasks</h3>

    <div class="large-4 columns" id="list_box">

      <ul>
        <% tasks.each do |task| %>
          <li><%= task["name"]%></li>
        <% end %>
      </ul>

      <div class="u_input">
        <form action="/home" method="post">
          <label for="task_name">New Task:</label>
          <input type="text" id="task_name" name="task_name">

          <input type="submit" value="Add Task" id="submit">
        </form>
      </div>

      <div class="d_input">
        <form action="/home/delete_name" method="post">
          <label for="delete_name">Delete Task:</label>
          <input type="text" id="delete_name" name="delete_name">

          <input type="submit" value="Delete Task" id="submit">
        </form>
      </div>
    </div>

    <div class="large-8 columns" id="weather_box">
      <h3><%= weather[0]["location"] %></h3>
      <table>
        <% weather[0].each do |key, condition| %>
          <% unless key == "location" %>
            <tr><td><%= condition %></td></tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <h3 id="fore_id">Forecast</h3>

    <div class="large-8 columns" id="forecast_box">

      <table>
        <% forecasts.each do |key| %>
          <tr>
            <td>
              <strong><%= key["day"] %></strong>
              <img src="<%= key["icon_url"] %>"></img>
              <ul>
                <li><%= key["forecast"] %></li>
              </ul>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="nav">
      <ul>
        <li><a href="https://mail.google.com/mail/u/0/?tab=wm#inbox">Gmail</a></li>
        <li><a href="http://www.bbc.com/sport/0/football/">BBC</a></li>
        <li><a href="http://www.reddit.com/">Reddit</a></li>
      </ul>
    </div>
  </body>
</html>
